body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}
header {
  text-align: center;
  padding: 20px;
  background: #4CAF50;
  color: #fff;
}
h1 {
  margin-top: 0;
}
.social-icons {
  text-align: center;
  margin-top: 10px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: center;
  color: #555;
  padding: 10px;
  top: 0;
  z-index: 100;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #555;
  padding: 8px 0;
  transition: color 0.3s ease;
}
nav a:hover {
  color: #4CAF50;
}
.container {
  max-width: 800px;
  padding: 20px;
}
.main {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.main h2 {
  color: #4CAF50;
}
footer {
  text-align: center;
  color: #555;
  margin-top: auto;
}
.two-column-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
    gap: 1rem; /* Space between list items */
    list-style-type: none; /* Remove default list style */
    padding-left: 0; /* Remove left padding */
}
.two-column-list li {
    list-style-type: disc; /* Re-add bullet points to the list items */
    padding-left: 1.5rem; /* Add some space for the bullet point */
}
